h1 {
    text-align: center;
}

body {
    background-color:ivory; 
}


.change {

    
    list-style: none;
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
    padding-left: 0;
    
}

.change li {
    display: inline-block;
    border-style: outset;
    border-radius: 3px;
}

img {
    width: 500px;
    height: 500px;
}

.style>li>a:hover {
    color: red;
}

